*{
    margin: 0%;
    padding: 0%;
}
body{
    background-image: linear-gradient(#091446, #06516a);
        color: white;
    font-family: 'Comfortaa', cursive;
}
    header{ 
background-color: #091446;
color: white;
display: flex;
justify-content: space-around;
align-items: center;
padding: 10px 0;
}

    .cabecalho-imagem{
        width: 1%
        }
        
    .cabeçalho-lista-item{
        display: inline-block;
        margin: 0% 10px;
        font-size: 10px; 
    }   
    .cabecalho-imagem {
        width: 2%;

        }
        .escola{
    
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 85px 0;
        }
        .escola-div-conteudo{
            width: 80%;
        }
            .escola-titulo{
                padding: 24px 0;
            }
            .estudante{
                width: 80%;
            }
            .estudante-titulo{
                display: flex;
        justify-content: center;
        align-items: center;
        padding: 70px 0;
            }

            .colegio{  
                text-align: center;
            }
.colegio-imagem{
    text-align: center;
    padding: 15px 0;
}
    .imagem-todos{
        display:grid;
     grid-template-columns: 60 60 60 60 60;
    }